<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TableTales{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="logo">TableTales</div>
        <ul class="nav-links">
            <li><a href="{% url 'recipe_list' %}">What's Cooking?</a></li>
            <li><a href="{% url 'cookbook' %}">Cookbook</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account' %}">Account ({{ user.username }})</a></li>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>

            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
